
<div class="nav-container">
    <nav class="main-nav">
        <a mat-button class="mat-button" href="#">
            <span class="mat-button-wrapper">
                <img src="../../../assets/img/main/binoculars.svg" alt="binoculars" class="main-logo">
                <span>ITScouts</span>
            </span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>

        <div class="space-between"></div>

        <a mat-button class="mat-button" routerLink="/talents">
            <span class="mat-button-wrapper">Talents</span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>

        <a mat-button class="mat-button" href="#">
            <span class="mat-button-wrapper">Scouts</span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>

        <a mat-button class="mat-button" href="#">
            <span class="mat-button-wrapper">Jobs</span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>

        <div class="space-between"></div>

        <a mat-button class="mat-button" href="#">
            <span class="mat-button-wrapper">Login</span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>
        <a mat-button class="mat-button" href="#">
            <span class="mat-button-wrapper">Join now</span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay overlay-light"></span>
        </a>
    </nav>
</div>